* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body,
html {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9ca1a093;
    overflow: hidden;
}

.container {
    width: 400px;
    min-height: 545px;
    aspect-ratio: 1/1;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.833);
    border: 1px solid black;
    box-shadow: inset 0 0 3px 2px #b3b3b3;
}

#display {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-inline: 10px;
    margin-bottom: 22px;
    margin-top: 6px;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 4px;
    background-color: aliceblue;
    overflow: hidden;
    text-wrap: nowrap;
}

.roots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    margin-bottom: 8px;
    & > button {
        line-height: 3rem;
        background: rgb(255, 255, 59);
        border: 1px solid grey;
    }
}

.arithmeticOperators {
    all: unset;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    aspect-ratio: 1/1;
}

.clearOne,
.clearAll {
    background-color: crimson;
}

.equalTo {
    grid-column: span 2;
    font-size: 4rem;
    line-height: 2rem;
    background-color: rgba(108, 165, 23, 0.758);
    filter: brightness(1.4);
}

button {
    all: unset;
    font-size: 2rem;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

button.operators {
    background-color: cyan;
    font-weight: 600;
}
button:active {
    transform: scale(0.95);
    outline: 1px solid cyan;
    outline-offset: 1px;
}

.scDisplay {
    display: none;
}

.popup {
    display: none;
    position: fixed;
    bottom: 20px;
    padding: 12px 24px;
    border-radius: 12px;
    text-wrap: nowrap;
    font-weight: 600;
    background-color: #2f3542;
    color: white;
    font-size: 1rem;
    z-index: 3;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px){
    body,
    html {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .container{
        margin-top: 10px;
    }
}